<template>
		<lightning-card>
			<lightning-record-edit-form object-api-name="Case" onsubmit={saveCaseFirstChild}>
				<div class="slds-grid">
					<lightning-input-field class="slds-size_5-of-12 slds-p-around_medium" field-name="AccountId">
					</lightning-input-field>
				</div>
				<div class="slds-grid slds-grid_align-center">
					<lightning-button variant="brand" label="Guardar" type="submit" title="save_CaseChild_1" class="slds-hide">
					</lightning-button>
				</div>
			</lightning-record-edit-form>
		</lightning-card>
</template>