<apex:page standardController="Contact">
    <apex:form >
        <apex:pageBlock title="Edit Contact">
            <apex:pageMessages />
    
            <apex:pageBlockSection >
                <apex:inputField value="{! Contact.Name }"/>        
            </apex:pageBlockSection>
            
            <apex:pageBlockSection columns="1">
                <apex:inputField value="{! Contact.FirstName }"/>
                <apex:inputField value="{! Contact.LastName }"/>        
                <apex:inputField value="{! Contact.Email }"/>        
            </apex:pageBlockSection>
    
            <apex:pageBlockButtons >
                <apex:commandButton action="{! save }" value="Save" />        
            </apex:pageBlockButtons>
    
        </apex:pageBlock>
    </apex:form>
</apex:page>